$backgroundcolor: #e6eef2;

$buttoncolor:#FFD599;

$bordercolor: opacity ;


.margin{
	width: 1149px;
	height: auto;
	margin: 0 auto;
	border:1px solid $bordercolor;
	display: block;
}

html,body {
	font-family: Ebrima;
	background-color: $backgroundcolor;
}

// HEADER SECTION's codes are here

#header{
	width: 99.888797%;
	height: 75px;
	border: 1px solid $bordercolor;
	font-family: Open Sans,sans-serif;
    border-bottom: 1px solid #cfdee6;
}

#header .margin{
	width: 1107px;
	height:73px;
	padding: 0 22px; 
}

#header .margin #logo{
    float: left;
    width: 82px;
    height: 24px;
    font-size: 23px;
    font-weight: 550;
    line-height: 1.3;
    margin-top: 20px;
    margin-right: 20px;
}

#header .margin #logo a{
	text-decoration: none;
	color: #333;
}

#header .margin #line{
	margin-top: -3px;
	width: 50px;
	height: 2px;
	background-color: $buttoncolor;
}

#header .margin nav{
	float: left;
}

#header .margin nav > ul > li{
	float: left;
	list-style: none;
	font-size: 14px;
    font-weight: 500;
    padding: 2px 16px;
    line-height: 68px;
    position: relative;
}

#header .margin nav > ul > li > a{
	text-decoration: none;
	font-size: 15px;
	color:#e36e2b;
}

#header .margin nav > ul > li > ul > li > ul{
	margin-top: -42px;
	margin-left: 190.4374px;
	position: absolute;
	box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 2px 15px rgba(0,0,0,.15);
    background: #fff;
    color: #333;
    list-style: none;
    padding:10px 0 10px 10px;
    visibility: hidden;
    opacity: 0;
    transition:1.5s ease;
}

#header .margin nav > ul > li > ul > li > ul > li > a{
	text-decoration: none;
	width: 180px;
	background-color: white;
	line-height: 24px;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    display: block;
    padding: 5px 0 0 5px;
}
 
#header .margin nav > ul > li >ul{
	box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 2px 15px rgba(0,0,0,.15);
    background: #fff;
    color: #333;
    list-style: none;
    margin-left: -15.5px;
    margin-top: 5px;
    padding: 12px 0;
    visibility: hidden;
    position: absolute;
    font-family: Open Sans,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0;
    transition:1.5s ease;
}

#header .margin nav #shop:hover > ul{
	display: block;
	opacity: 2;
	visibility: visible;
}

#header .margin nav .shop:hover > ul{
	display: block;
	visibility: visible;
	opacity: 3;
}

#header .margin nav > ul > li > ul > li{
	line-height: 20px;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.9;
    color: #212529;
    text-align: left;
    width: 190px;
    position: relative;
}
 
#header .margin nav > ul > li > ul > li > a{
	text-decoration: none;
	padding: 7px 20px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    color: #333;
    display: block;
	width: 148px;
	height: 18px;
}

#header .margin nav > ul > li > ul > li a:hover{
   background-color: aqua;
}

#header .margin nav i{
	margin-left: 7px;
	color: 	green;
	font-weight: 600;
	font-size: 15px;
}

#header .margin nav > ul > li:hover{
	background-color: #e8e8e8;
}

#header .margin nav .large_menu{
	background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 2px 15px rgba(0,0,0,.15);
    color: #333;
    list-style: none;
    margin: 0;
    padding: 30px;
    width: 1070px;
    color: #333;
    list-style: none;
    position: absolute;
    top: 103%;
    left: -197px;
    height: 320px;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition:1.5s ease;
}
#header .margin nav .large_menu li > ul > li > a:hover{
	color: #090;
}

#header .margin nav .large_menu li a:hover{
    color: #6633CE;
}
 
#header .margin nav .categories:hover .large_menu{
   visibility: visible;
   opacity: 2;
}

#header .margin nav .row{
	display: block;
	margin-right: -15px;
    margin-left: -15px;
    display: block;
    border: 1px solid $bordercolor;
    float: left;
    width: 1095px;
    height: 343.15px;
    margin-top: -10px;
}

#header .margin nav .col-2{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    width: 14.67%;
    height: 341px;
    border: 1px solid $bordercolor;
    float: left;
}

#header .margin nav .col-4{
	position: relative;
	width: 26.712%;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
	height: 341px;
	border: 1px solid $bordercolor;
	float: left;
}
 
#header .margin nav .large_menu_links{
	list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    
}

#header .margin nav .large_menu_links > li{
    font-size: 16px;
    font-weight: 600;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

#header .margin nav .large_menu_links > li > a{
	list-style: none;
	color: #E36E2B;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

#header .margin nav .large_menu_links > li > .large_menu_dropdown > li{
    line-height: 1.77;
    font-size: 14px;
    font-weight: 400;
}

#header .margin nav .large_menu_links > li > .large_menu_dropdown > li > a{
        text-decoration: none;
        color: #808080;
}

// path SECTION's codes are here

#path{
    width: 99.888797%;
    height: 48px;
    border: 1px solid $bordercolor;
}

#path .margin{
    width: 1110px;
    height: 18px;
    font-size: 11.48px;
    font-weight: 600;
    margin: 0 auto 12px;
    padding: 14px 0;
    line-height: 1.5;
    letter-spacing: 0.4px;
    border: 1px solid $bordercolor;
}

#path .margin a{
    text-decoration: none;
    color: #8A9499;
    font-family: helvetica; 
}

#path .margin a:hover{
    color: #f28955;
}

/* The browser window */
.container {
  border: 3px solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Container for columns and the top "toolbar" */
.row {
  padding: 10px;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 15%;
}

.right {
  width: 10%;
}

.middle {
  width: 75%;
  margin-left: 500px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three dots */
.dot {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Style the input field */
input[type=text] {
  width: 99.888797%;
  border-radius: 3px;
  border: none;
  background-color: white;
  margin-top: -8px;
  height: 25px;
  color: #666;
  padding: 5px;
}

/* Page content */
.content {
  padding: 10px;
}

/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

#notification .row{
    width: 98.888797%;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 24%;
  padding: 0 5px;

}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 99.888797%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

.fa {font-size:50px;}

// nextclick SECTION's codes are here

#nextclick{
    width: 99.888797%;
    border: 1px solid $bordercolor;
    height: 100px;
}

#nextclick .margin{
    width: 1147px;
    height: 78px;
    margin-top: 10px; 
    border: 1px solid $bordercolor;
    display: block;
}

#nextclick .margin .nextclick_left{
    width: 16px;
    height: 20px;
    border: 1px solid $bordercolor;
    padding: 10px 10px;
    margin:24px 0 0 467px;
}

#nextclick .margin .nextclick_left i{
    color: #95a0a6;
    line-height: 1;
}

#nextclick .margin .nextclick_number_1{
    color: #333;
    margin: -23px 0 0 512px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    font-family: Open Sans,sans-serif;
    width: 12px;
    height: 16px;
    border-radius: 18px;
    padding: 10px 12px;
}

#nextclick .margin .nextclick_number_1:hover{
    background-color: #6c757d;
}

#nextclick .margin .nextclick_number_2{
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin: -36px 0 0 554px;
    width: 12px;
    height: 16px;
    border: 1px solid #acb9bf;
    cursor: default;
    border-radius: 18px;
    padding: 10px 12px;
    font-family: Open Sans,sans-serif;
}

#nextclick .margin .nextclick_number_3{
    color: #333;
    margin: -37px 0 0 599px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    font-family: Open Sans,sans-serif;
    width: 12px;
    height: 16px;
    border-radius: 18px;
    padding: 10px 12px;
} 

#nextclick .margin .nextclick_number_3:hover{
    background-color: #6c757d; 
}

#nextclick .margin .nextclick_right{
    width: 6px;
    height: 20px;
    border: 1px solid $bordercolor;
    padding: 9px 16px;
    margin:-55px 0 0 637px;
    border-radius: 18px;
}

#nextclick .margin .nextclick_right:hover{
    cursor: pointer;
}

#nextclick .margin .nextclick_right i{
    color: #333333;
    line-height: 1;
}

#AboutUs{
	width: 99.888797%;
	height: 335px;
	border: 1px solid $bordercolor;
	display: block;
}

#AboutUs #margin{
	width: 1112px;
    height: 283px;
    margin-left: 96px;
    border: 1px solid $bordercolor;
    margin: 0 auto;
    border-top: 1px solid #CFDEE6;
    border-bottom: 1px solid #CFDEE6;
    padding-top: 50px;
}

#AboutUs #margin .corner_place{
	width: 357px;
	height: 241px;
	border: 1px solid $bordercolor;
	float: left;
}

#AboutUs #margin .internal{
	width: 190px;
	height: 241px;
	border: 1px solid $bordercolor;
	float: left;
}

#AboutUs #margin h2{
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	padding-bottom: 5px;
	color: #333333;
	font-family: inherit;
	letter-spacing: -0.5px;
}

#AboutUs #margin #line{
	margin-top: -3px;
	width: 40px;
	height: 2px;
	background-color: $buttoncolor;
	margin-bottom: 28px;
}

#AboutUs #margin p{
	color: #676f73;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 15px;
    font-family: Open Sans,sans-serif;
}

#AboutUs #margin .internal li{
	font-size: 14px;
    padding: 4px 0;
    color: #676F73;
    font-family: Open Sans,sans-serif;
    line-height: 1.3;
    cursor: pointer;
}

#AboutUs #margin .internal li:hover{
	color: #f26924;
}

#AboutUs #margin .corner_place li{
	font-size: 14px;
    padding: 4px 0;
    color: #333333;
    font-family: Open Sans,sans-serif;
    line-height: 1.3;
    cursor: pointer;  
    font-weight: 600;
}

#AboutUs #margin .corner_place li:hover{
	color: #f26924;
}

#AboutUs #margin form{
	width: 350px;
	height: 36px;
	border: 1px solid opacity;
    margin-bottom: 15px;
}

#AboutUs #margin form input{
	width: 220px;
	height: 25px;
	background-color: #cfdee5;
	border: none;
	font-size: 14px;
	line-height: 1.2;
	padding:5px 10px;
}

#AboutUs #margin input:focus{
	background-color: white;
	outline-width: 0;
	box-shadow: 1px 1px 2px #333;
	font-family: Open Sans,sans-serif;
	color: #333;
}

#AboutUs #margin button{
	background-color: #FFD599;
    color: #333;
    width: 105px;
    height: 36px;
    border: none;
    cursor: pointer;
    border-radius: 3.5px;
    padding:5px 7px;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    font-family: inherit;
}

#AboutUs #margin button:hover{
	color: white;
	background-color: #363d40;
}

#AboutUs #margin i{
	width: 23px;
    height: 28px;
    margin-right: 2px;
    font-size: 18px;
    border-radius: 1.5px;
    color: #676f73;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}

#AboutUs #margin i:hover{
	background-color: #cfdee5;
	transition: 1.7s;
    transform: rotateY(360deg);
    color: red;
}

#AboutUs #margin #footer_left{
	margin-right: 10px;
}


#footer{
	width: 99.888797%;
	height: 62px;
	border:1px solid $bordercolor;
	display: block;
}

#footer #margin{
	width: 1112px;
	height: 60px;
	border: 1px solid $bordercolor;
	margin: 0 auto;
}

#footer #margin .footer_left_block{
	width: 127px;
	height: 40px;
	border: 1px solid $bordercolor;
	padding-right: 15px;
	font-family: Open Sans,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    padding-top: 18px;
    float: left;
}

#footer #margin .footer_left_block a{
	text-decoration: none;
	color: #676f73;
}

#footer #margin .footer_left_block a:hover{
	color: #f28955;
}

#footer #margin .footer_right_block{
	width: 276px;
	height: 58px;
	border: 1px solid $bordercolor;
	float: right;
	background:url("../img/payment.jpg") no-repeat center;
	background-size: 250px 25px;
	padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}